<form action="/pokemon" method="post">
  <label>ID:</label>
  <input type="text" name="id">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Image:</label>
  <input type="text" name="img">
  <label>Weight:</label>
  <input type="text" name="weight">
  <label>Height:</label>
  <input type="text" name="height">
  <label>Candy:</label>
  <input type="text" name="candy">
  <label>Candy Count:</label>
  <input type="number" name="candy_count">
  <label>Egg:</label>
  <input type="text" name="egg">
  <label>Average Spawns:</label>
  <input type="number" name="avg_spawns" step="0.01" min="0">
  <label>Spawn Time:</label>
  <input type="text" name="spawn_time">
  <input type="submit" value="Submit">
</form>