<form action="/user/new" method="post">
  <label>Username/email:</label>
  <input type="text" value="" name="username">
  <label>Password:</label>
  <input type="text" value="" name="password">
  <input type="submit" value="Register">
</form>